.containerSearch {
    display: flex;
    justify-content: center;
    align-items: center; /* Dikeyde merkezleme için ekledik */
}

.search-group {
    display: flex;
    flex-direction: column; /* İçerikleri dikey olarak sırala */
    align-items: center; /* İçerikleri yatayda ortala */
}

.input {
    width: 150%;
    background-color: white;
    margin-top: 10px;
    box-shadow: 0px 3px 15px rgb(45, 184, 79);
    color: black;
}

.search {
    color: white;
    margin-top: 10px;
}
