.custom-message-body {
    background-color: #f4f1de;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

.custom-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.custom-message-box {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    text-align: center;
    box-shadow: 0px 3px 15px #3d405b;
}

.custom-message-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3d405b;
}

