.button{
    position: fixed;
    bottom: 120px;
    left: 20px;
    background-color: #3d405b;
    color: white;
    padding: 14px 26px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.photo-card {
    display: flex;
    align-items: center;
    border: 1px solid #3d405b;
    margin: 5px;
    padding: 5px;
    box-shadow: 0px 3px 15px #3d405b;
    transition: 0.3s ease-in;
    cursor: pointer;
    max-width: 100%;
    width: 99%;
}

.photo {
    width: 600px;
    height: 500px;
    margin-right: 10px;
}

.nav-button {
    background: none;
    color: #3d405b;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.photo-container {
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: auto; */
}
